* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  text-align: center;
  background-color: #f4f4f4;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}

.area {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;
}

.sections {
  flex: 1;
  max-width: 40%;
  padding: 20px;
}

.sections div {
  margin-bottom: 15px;
}

.photo {
  flex: 1;
  max-width: 40%;
  text-align: right;
  padding: 20px;
}
.photo {
  animation-duration: 1s;
  animation-name: slide-in;
}

@keyframes slide-in {
  from {
    translate: 150vw 0;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

.photo img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.first {
  height: 140px;
  width: 500px;
  border: 5px pink solid;
  border-radius: 40px;
  background-color: pink;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px;
  font-weight: bold;
}

.first a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}
.first:hover {
  background-color: white;
  color: pink;
  border: transparent;
  transition: 0.1s;
}
.first a:hover {
  color: pink;
  background-color: white;
  transition: 0.1s;
}
.second {
  height: 140px;
  width: 500px;
  border: 5px green solid;
  border-radius: 40px;
  background-color: green;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px;
  font-weight: bold;
}
.second a {
  color: red;
  text-decoration: none;
  background-color: transparent;
}
.second:hover {
  background-color: red;
  color: green;
  border: transparent;
  transition: 0.1s;
}
.second a:hover {
  color: green;
  text-decoration: none;
  background-color: transparent;
}
.third {
  height: 140px;
  width: 500px;
  border: 5px blue solid;
  border-radius: 40px;
  background-color: blue;
  color: yellow;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px;
  font-weight: bold;
}
.third a {
  color: yellow;
  text-decoration: none;
  background-color: transparent;
}
.third:hover {
  background-color: yellow;
  color: blue;
  border: transparent;
  transition: 0.5s;
}
.third a:hover {
  color: blue;
  text-decoration: none;
  background-color: transparent;
}
footer {
  font-size: 10px;
}
