* {
  box-sizing: border-box;
}
h1 {
  color: purple;
  font-size: 64px;
}

h1,
h2 {
  min-width: 300px;
}

h1 {
  background-color: red;
  border: 5px solid black;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 100px;
  margin-left: 500px;
  padding-top: 40px;
  padding-right: 30px;
  padding-bottom: 40px;
  padding-left: 30px;
  min-height: 300px;
}
a {
  display: inline-block;
  width: 300px;
  color: peru;
}
